<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="css/myStyle.css"/>
<title>Catalogue</title>
</head>
<body ng-app="MyApp" ng-controller="MyController">
<div class="container spacer">
Mot Clé : <input type="text" ng-model="motCle">
<button ng-click="chercherProduits()">Charger</button>
</div>
<div class="container">
<table class="table table-striped">
<thead>
<tr>
<th>ID</th>
<th>Désignation</th>
<th>Prix</th>
<th>Quantité</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="p in pageProduits.content">
<td>{{p.id}}</td>
<td>{{p.designation}}</td>
<td>{{p.prix}}</td>
<td>{{p.quantite}}</td>
</tr>
</tbody>
</table>
<div class="container">
<ul class="nav nav-pills">
<!-- <li ng-repeat="p in pages track by $index" class="nav-item"> -->
<li ng-class="{active:$index==pageCourante}" ng-repeat="p in pages track by $index" class="clickable">
<a ng-click="goToPage($index)">{{$index}}</a>
</li>
</ul>
</div>
<div>
La page courante est : {{pageCourante}}
</div>
</div>
<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
<script type="text/javascript" src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>